{{component this 'main-pane'}}
<div data-component="sidebar" class="side sidebar-content span4">
    {{component this 'dashboard-pane'}}
    {{component this 'preview-pane'}}
    {{component this 'yearbook-pane'}}
</div>
