<div class="myamazingengagement-dashlet">
    <div style="float:left;width:600px;">
        <svg style="float:left;min-height: 350px;max-height: 420px;max-width: 280px">

        </svg>
        <div style="float:left;margin-top:130px;margin-left:50px">
            <p><strong>Next Call:</strong> {{model.engagement_dashlet_extra_view_data.next_call}}</p>
            <p><strong>Next Meeting:</strong> {{model.engagement_dashlet_extra_view_data.next_meeting}}</p>
            <button class="btn-primary schedule-call-button">Schedule a call</button>
            <button class="btn-primary schedule-meeting-button">Schedule a meeting</button>
        </div>
    </div>
</div>