<div class="btn-toolbar pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-invisible" data-action="close"><i class="fa fa-times"></i></button>
    </div>
</div>
<div class="comic-pane title">
    <div class="text">
        <div class="holder">
            <h3>
                {{str 'LBL_YEARBOOK_HEADER' module}}
            </h3>
        </div>
    </div>
</div>

<img src="{{imgUrl}}" />
