<div class="field-detail">
    <span class="field-detail__label">{{label}}</span>
    {{#if value}}
        <span class="field-detail__value">
            {{icon 'actions.map'}}&nbsp;{{__address}}
        </span>
    {{/if}}
</div>
