<div style="position: absolute; min-height: 100%; width: 100%; background: #fff; padding-top: 20px">
    <!-- Use inline styles or reference styles defined in config/app.less -->
   <span class="hello_world">Hello, World!</span>
</div>
